
<body class="review">
    <div class="my-navbar">
        <a href="/saved-albums">My Saved Albums</a>
        <a href="/all-new-releases">Return to All Albums</a>
        <a href="/auth/logout">Logout</a>
    </div>

    <div class="container text-center">
        <div class="div-current-user">
            {{#each currentUser}}
                <p>Hello, {{username}}! Welcome back.</p>
            {{/each}}
        </div>

        <div class="row justify-content-center">
            <!-- Album Details and Review Submission Form -->
            <div class="col-md-6 mb-4">
                <div class="card pt-4">
                    <img class="specific-album-img" src={{images}} />
                    <h4>Album: {{albumTitle}}</h4>
                    <h4>Artist: {{artists}}</h4>
                    <h4>Release Date: {{releaseDate}}</h4>
                    <h4>Total Number of Tracks: {{totalTracks}}</h4>

                    <form action="/album-details/save-album/{{_id}}" method="post">
                        <button type="submit" class="btn btn-dark">Save Album</button>
                    </form>

                    <form action="/review-album/{{_id}}" method="post">
                        <div class="form-group">
                            <label for="rating">Rate:</label>
                            <input type="number" class="form-control" id="rating" name="rating" min="1" max="10">
                        </div>

                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea class="form-control" id="review" name="review" rows="4"></textarea>
                        </div>

                        <button type="submit" class="btn btn-dark mt-2">Save changes</button>
                    </form>
                </div>
            </div>
        </div>

<h1 class="reviewHeading">Reviews</h1>

        <!-- Review Cards -->
        <div class="row justify-content-center">
            {{#each reviews}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="specific-reviewer">Reviewer: {{this.reviewer.username}}</h2>
                            <p class="specific-review-rating">Rating: {{this.rating}}</p>
                            <p class="specific-review-review">Review: {{this.review}}</p>

                            <form action="/review/{{this._id}}/edit" method="get">
                                <button type="submit" class="btn btn-dark">Edit Review</button>
                            </form>
                    
                            <form action="/review/{{this._id}}/delete" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


</body>

